@charset "UTF-8";

body {
	font-family: "Segoe UI", Helvetica, "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-weight: normal;
	font-size: 16px;
	background-color: #ffffff;
}

header {
	background-color: #ffed00;
}

@media screen and (min-width: 641px) {
	header {
		min-height: 128px;
	}
}

header h1 {
	text-align: center;
}

header h1 img {
	max-width: 500px;
}

@media screen and (max-width: 640px) {
	header h1 img {
		max-width: 75%;
	}
}

@media screen and (min-width: 1024px) {
	.sbtn {
		position: absolute;
		top: 60px;
		right: 30px;
	}

	.sbtn li {
		float: left;
		list-style-type: none;
		width: 60px;
		height: 40px;
		margin-top: 0px;
	}

	.sbtn li a img {
		transition: 0.3s;
		-webkit-transition: 0.3s;
	}

	.sbtn li a:hover img {
		opacity:0.7;
		filter: alpha(opacity=70);        /* ie lt 8 */
		-ms-filter: "alpha(opacity=70)";  /* ie 8 */
		-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
		-khtml-opacity: 0.7;              /* Safari 1.x */
	}

	.ftsbtn {
		display: none;
	}
}

@media screen and (max-width: 1023px) {
	.sbtn {
		display: none;
	}

	.ftsbtn {
		position: relative;
		overflow: hidden;
		margin-top: 10px;
	}

	.ftsbtn ul {
		list-style-type: none;
		margin-left: 0;
		float: left;
		left: 50%;
		position: relative;
	}

	.ftsbtn li {
		float: left;
		width: 60px;
		height: 40px;
		margin-top: 4px;
		left: -50%;
		position: relative;
	}

	.ftsbtn li a img {
		transition: 0.3s;
		-webkit-transition: 0.3s;
	}

	.ftsbtn li a:hover img {
		opacity:0.7;
		filter: alpha(opacity=70);        /* ie lt 8 */
		-ms-filter: "alpha(opacity=70)";  /* ie 8 */
		-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
		-khtml-opacity: 0.7;              /* Safari 1.x */
	}
}

@media screen and (min-width: 641px) {
	.spsbtn {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.ftsbtn {
		display: none;
	}
}

p img {
	max-width: 100%;
	height: auto;
}

h1 img {
	max-width: 100%;
	height: auto;
}

.eyecatch {
	clear: both;
}

.eyecatch p img {
	margin: 0;
	padding: 0;
	display: block;
}

@media screen and (max-width: 640px) {
	.eyecatch {
		border-bottom: solid 3px #00a29a;
	}
}

h2 {
	font-size: 2.5em;
	text-align: center;
	text-decoration: none;
	color: #333;
	margin-top: 20px;
	z-index: 100;
}

h2#about {
	padding-top: 50px;
}

h3 {
	color: #00a29a;
	font-size: 20px;
	border-bottom: dotted 2px #00a29a;
	height: 32px;
	margin-bottom:10px;
}

@media screen and (min-width: 641px) {
	nav {
		height: 60px;
		background-color: #ffed00;
		margin-top: 0;
		padding-top: 0;
		font-weight: 700f;
	}

	nav ul {
		max-width: 1000px;
		margin: 0 auto;
	}

	nav li {
		float: left;
		display: block;
		width: 20%;
		text-align: center;
		margin-top: 24px;
	}

	nav li a {
		color: #333;
		text-decoration: none;
		font-weight: bold;
	}

	nav li a:hover {
		color: #00a29a;
		border-bottom: solid 2px #00a29a;
	}
}

.box {
	background-color: #ffffff;
	margin: 0 auto;
	z-index: 1;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

@media screen and (min-width: 641px) {
	.box {
		/*max-width: 1000px;*/
	}
}

p.text {
	padding: 20px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
}

p.textat {
	padding: 20px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	color: #333;
	max-width: 800px;
	padding-top: 0px;
	margin: 0 auto;
}

.rs {
	float: right;
}

footer {
	min-height: 40px;
	background-color: #ffed00;
	text-align: center;
	padding-top: 18px;
}

footer small {
	font-size: 12px;
	color: #00a29a;
}

@media screen and (min-width: 1024px) {
	.scbtn {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 640px) {
	.scbtn {
		padding-bottom: 20px;
	}
}

p a {
	color: #00a29a;
	text-decoration: none;
}

p a:hover {
	color: #00a29a;
	border-bottom: solid 2px #00a29a;
}

.ctcontent {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 800px;
}

@media screen and (max-width: 840px) {
	.ctcontent {
		margin: 0 auto;
		margin-top: 40px;
		width: 90%;
	}
}

.button {
	max-width: 240px;
	height: 60px;
	background-color: #fff;
	padding-top: 36px;
	text-align: center;
	font-weight: bold;
}

.button a {
	font-size: 24px;
	color: #333;
}

.scbtn {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

.scbtn ul {
	list-style-type: none;
	margin-left: 0;
	float: left;
	left: 50%;
	position: relative;
}

.scbtn li {
	float: left;
	margin-top: 4px;
	left: -50%;
	position: relative;
	margin-left: 10px;
}